<?xml version="1.0"?>
<!--
/**
 * @copyright   Vertex. All rights reserved.    https://www.vertexinc.com/
 * @author      Mediotype                       https://www.mediotype.com/
 */
 -->
<config>
    <modules>
        <Vertex_Tax>
            <version>1.2.7</version>
        </Vertex_Tax>
    </modules>
    <global>
        <blocks>
            <vertextax>
                <class>Vertex_Tax_Block</class>
            </vertextax>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Vertex_Tax_Block_Adminhtml_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <vertextax>
                <class>Vertex_Tax_Model</class>
                <resourceModel>vertextax_resource</resourceModel>
            </vertextax>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Vertex_Tax_Model_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <enterprise_giftwrapping>
                <rewrite>
                    <total_quote_tax_giftwrapping>Vertex_Tax_Model_Total_Quote_Tax_Giftwrapping</total_quote_tax_giftwrapping>
                </rewrite>
            </enterprise_giftwrapping>
            <vertextax_resource>
                <class>Vertex_Tax_Model_Resource</class>
                <entities>
                    <taxrequest>
                        <table>vertex_vertextaxrequest</table>
                    </taxrequest>
                </entities>
            </vertextax_resource>
        </models>
        <helpers>
            <vertextax>
                <class>Vertex_Tax_Helper</class>
            </vertextax>
        </helpers>
        <resources>
            <vertextax_setup>
                <setup>
                    <module>Vertex_Tax</module>
                    <class>Vertex_Tax_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vertextax_setup>
            <vertextax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vertextax_write>
            <vertextax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vertextax_read>
        </resources>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <vertex_invoice_created_observer>
                        <type>singleton</type>
                        <class>vertextax/observer</class>
                        <method>invoiceCreated</method>
                    </vertex_invoice_created_observer>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_save_after>
                <observers>
                    <vertex_order_saved_observer>
                        <type>singleton</type>
                        <class>vertextax/observer</class>
                        <method>orderSaved</method>
                    </vertex_order_saved_observer>
                </observers>
            </sales_order_save_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <vertex_order_creditmemo_observer>
                        <type>singleton</type>
                        <class>vertextax/observer</class>
                        <method>orderCreditmemoRefund</method>
                    </vertex_order_creditmemo_observer>
                </observers>
            </sales_order_creditmemo_refund>
            <adminhtml_init_system_config>
                <observers>
                    <vertex_init_system_config>
                        <class>vertextax/observer</class>
                        <method>changeSystemConfig</method>
                    </vertex_init_system_config>
                </observers>
            </adminhtml_init_system_config>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <tax_area_id>
                    <to_order_address>*</to_order_address>
                </tax_area_id>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <vertextax>
                <use>admin</use>
                <args>
                    <module>Vertex_Tax</module>
                    <frontName>vertex</frontName>
                </args>
            </vertextax>
            <adminhtml>
                <args>
                    <modules>
                        <Vertex_Tax before="Mage_Adminhtml">Vertex_Tax</Vertex_Tax>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vertextax>
                    <file>vertex.xml</file>
                </vertextax>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vertextax>
                    <file>vertex.xml</file>
                </vertextax>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Vertex_Tax before="Mage_Checkout">Vertex_Tax</Vertex_Tax>
                    </modules>
                </args>
            </checkout>
            <vertextax>
                <use>standard</use>
                <args>
                    <module>Vertex_Tax</module>
                    <frontName>vertex</frontName>
                </args>
            </vertextax>
        </routers>
    </frontend>
    <default>
        <tax>
            <vertex_settings>
                <enable_vertex><![CDATA[0]]></enable_vertex>
                <invoice_order><![CDATA[invoice_created]]></invoice_order>
                <api_url><![CDATA[https://mgcsconnect.vertexsmb.com/vertex-ws/services/CalculateTax60]]></api_url>
                <address_api_url><![CDATA[https://mgcsconnect.vertexsmb.com/vertex-ws/services/LookupTaxAreas60]]></address_api_url>
                <show_manual_button><![CDATA[0]]></show_manual_button>
                <show_tarequest_popup><![CDATA[1]]></show_tarequest_popup>
                <allow_cart_request><![CDATA[1]]></allow_cart_request>
            </vertex_settings>
            <classes>
                <shipping_tax_class><![CDATA[4]]></shipping_tax_class>
                <wrapping_tax_class><![CDATA[6]]></wrapping_tax_class>
                <default_customer_code><![CDATA[General]]></default_customer_code>
                <creditmemo_adjustment_class><![CDATA[5]]></creditmemo_adjustment_class>
                <creditmemo_adjustment_negative_code><![CDATA[adjustment-negative]]></creditmemo_adjustment_negative_code>
                <creditmemo_adjustment_positive_code><![CDATA[adjustment-positive]]></creditmemo_adjustment_positive_code>
                <giftwrap_order_class><![CDATA[7]]></giftwrap_order_class>
                <giftwrap_order_code><![CDATA[order-gift-wrapping]]></giftwrap_order_code>
                <giftwrap_item_class><![CDATA[8]]></giftwrap_item_class>
                <giftwrap_item_code><![CDATA[giftwrap-]]></giftwrap_item_code>
                <printed_giftcard_class><![CDATA[9]]></printed_giftcard_class>
                <printed_giftcard_code><![CDATA[printed-giftcard]]></printed_giftcard_code>
                <reward_points_class><![CDATA[10]]></reward_points_class>
                <reward_points_code><![CDATA[reward-points]]>]</reward_points_code>
            </classes>
        </tax>
    </default>
    <crontab>
        <jobs>
            <vertex_log_cleanup>
                <schedule>
                    <cron_expr>00 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vertextax/observer::cleanLogs</model>
                </run>
            </vertex_log_cleanup>
        </jobs>
    </crontab>
</config>


